@import './general.css';

* {
  font-family: 'Cormorant Garamond', serif;
}

html {
  overflow: hidden;
}

body {
  transition: 1s ease-in-out;
  background-color: var(--tohoh);
  color: var(--shironeri);
  letter-spacing: 1px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.intro {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  padding: 0 10vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}

.main-title {
  position: absolute;
  top: 20vh;
  user-select: none;
  font-size: 4rem;
  font-weight: 600;
}

.main-description {
  position: fixed;
  top: 45vh;
  left: 10vw;
  vertical-align: top;
  max-width: 40%;
  font-size: 1.25rem;
}

.tohoh {
  color: var(--tohoh);
}

#bottom {
  clear: both;
  height: 10vh;
  position: relative;
}
