@import './general.css';

body {
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--sohi);
  color: var(--shironeri);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

#menu-page {
  background-color: rgba(237, 120, 74, 0.75);
}

.top-information {
  color: var(--sohi);
}

.main-information {
  color: var(--sohi);
}

.element-title {
  color: var(--sohi);
}
