@import "/css/general.css";

html {
    overflow: hidden;
    min-width: 60%;
    min-height: 100%;
    font-family: var(--OSSemiBold);
    color: var(--kon);
    overflow: auto;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


#main {
    float: right;
    height: auto;
    width: unset;
    box-sizing: border-box;
    padding: 80px 120px 120px 120px;
    z-index: 0;
    vertical-align: top;
}

#main-nav-title {
    font-family: "Avenir LT Std Heavy";
    font-size: 175%;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-button {
    display: inline-block;
    width: auto;
    padding: 3px;
    border: 2px solid var(--kon);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

.main-button:hover {
    background: var(--kon);
}

#footer-nav {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: unset;
    min-height: 40px;
    background: var(--kon);
    bottom: 0%;
    right: 0%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

.footer-nav-box {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.footer-nav-box:hover>ul {
    visibility: visible;
    opacity: 1;
}

.footer-nav-box ul {
    visibility: hidden;
    opacity: 0;
    transition: var(--fade);
    position: absolute;
    width: 100%;
    bottom: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

.footer-nav-box ul li {
    display: block;
    padding: 8px;
    transition: var(--fade);
}

.footer-nav-title {
    font-family: "Avenir LT Std Heavy";
    font-size: 125%;
    color: white;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
}

.footer-nav-content {
    background: white;
}

.footer-nav-content:hover {
    color: white;
    background: var(--kon);
}