@import './general.css';

body {
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--shironeri);
  color: var(--ro);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

#menu-page {
  color: var(--shironeri);
  background-color: rgba(12, 12, 12, 0.75);
}

.top {
  box-shadow: 0 0 8px rgb(15, 15, 15), 0 0 16px rgb(24, 24, 24),
    0 0 24px rgb(36, 36, 36), 0 0 32px rgb(48, 48, 48), 0 0 40px rgb(61, 61, 61),
    0 0 48px rgb(71, 71, 71), 0 0 56px rgb(87, 87, 87);
}

.top-introduction {
  width: 75%;
}

.top-information {
  border: 2px solid var(--ro);
  padding: 1em;
  color: var(--ro);
}

.main-title {
  color: var(--ro);
}

.main-information {
  background-color: var(--ro);
  border: 1em solid var(--ro);
  color: var(--ro);
}

.main-paragraph-title {
  clear: both;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding: 2vh 0;
}

.main-text {
  width: 61.8%;
  line-height: 1.5;
  margin: auto;
}

hr {
  background-color: var(--ro);
  border: 0.05em solid var(--ro);
}
