@import "./general2.0.css";

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--shironeri);
  color: var(--ro);
  letter-spacing: 1px;
  line-height: 1.25;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

#main {
  transition: 1s ease-in-out;
  padding: 0 10vw;
}

.top {
  padding: 0 10vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-title {
  user-select: none;
  font-size: 6em;
  font-weight: 600;
  padding: 5vh 0;
}

.top-introduction {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  font-size: 1.5em;
}

.top-information {
  background-color: var(--shironeri);
  border: 2px solid var(--ro);
  padding: 1em;
  color: var(--ro);
  font-weight: 600;
  font-size: 1.25em;
  position: absolute;
  bottom: 10vh;
}

.main-title {
  padding: 2vh 0;
  font-size: 5em;
  font-weight: 600;
}

.main-introduction {
  font-size: 1.5em;
}

.main-information {
  width: fit-content;
  margin: 1vh 0;
  background-color: var(--shironeri);
  border: 1em solid var(--shironeri);
  color: var(--sohi);
  font-weight: 600;
  font-size: 1.25em;
}

.main-design {
  float: left;
}

.main-design-title {
  float: left;
  width: 38.2%;
  font-size: 3em;
}

.main-design-description {
  float: left;
  padding-top: 1.75em;
  width: 61.8%;
  font-size: 1.5em;
}

hr {
  width: 90%;
  margin-bottom: 0;
  float: left;
  background-color: var(--shironeri);
  border: 0.05em solid var(--ro);
}

.important {
  font-style: italic;
  font-weight: 600;
}

.element-title {
  display: inline-block;
  background-color: var(--shironeri);
  margin: 0.25em 0;
  border: 0.25em solid var(--shironeri);
  color: var(--sohi);
  font-weight: 600;
}

#bottom {
  clear: both;
  height: 10vh;
  position: relative;
}
