@import './general.css';

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--shironeri);
  color: var(--ro);
  letter-spacing: 0.5px;
  line-height: 1.25;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.top-information {
  border: 2px solid var(--ro);
  padding: 1em;
  color: var(--ro);
}

.main-title {
  color: var(--ro);
}

.main-information {
  background-color: var(--ro);
  border: 1em solid var(--ro);
  color: var(--ro);
}

.main-paragraph-title {
  clear: both;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  padding: 2vh 0;
}

.main-text {
  width: 61.8%;
  font-size: 1.5em;
  line-height: 1.5;
  margin: auto;
}

hr {
  background-color: var(--ro);
  border: 0.05em solid var(--ro);
}
