@font-face {
    font-family: "EBGaramond-Regular";
    src: url(/fonts/2.0/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: "EBGaramond-Medium";
    src: url(/fonts/2.0/EBGaramond-Medium.ttf);
}