@import "/css/general.css";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

*:link {
    color: var(--kon);
}

*:visited {
    color: var(--kon);
}

html {
    background: transparent;
}

body {
    bottom: 40px;
}

.footer-nav-box {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.footer-nav-box ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    bottom: calc(100% - 340px + 190px);
}

.footer-nav-title {
    font-family: var(--AHeavy);
    font-size: 125%;
    color: var(--shironeri);
    min-height: 40px;
    line-height: 340px;
}

ul:hover {
    visibility: visible;
    opacity: 1;
}

.footer-nav-title:hover+ul {
    visibility: visible;
    opacity: 1;
}

.footer-nav-box ul li {
    display: block;
    padding: 8px;
    font-family: var(--OSSemiBold);
    line-height: 0.8;
}

.footer-nav-content {
    background: var(--shironeri);
    color: var(--kon);
}

.footer-nav-content:hover {
    background: var(--kon);
}

.footer-nav-content:hover a {
    color: var(--shironeri);
}

* :visited {
    color: var(--kon);
}

#footer-nav-background {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0%;
    background: var(--kon);
}