@import './general.css';

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--kurenai);
  color: var(--shironeri);
  letter-spacing: 1px;
  line-height: 1.25;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

#menu-page {
  background-color: rgba(203, 27, 69, 0.75);
}

.intro {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-information {
  color: var(--kurenai);
}

.main-information {
  color: var(--kurenai);
}

.element-title {
  color: var(--kurenai);
}
