@import './general.css';

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin: 0;
  transition: 1s ease-in-out;
  background-color: var(--rurikon);
  color: var(--shironeri);
  letter-spacing: 1px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

#menu-page {
  background-color: rgba(11, 52, 110, 0.75);
}

.top-information {
  color: var(--rurikon);
}

.main-image {
  position: relative;
  max-width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-information {
  color: var(--rurikon);
}

.main-design-title {
  clear: both;
  float: left;
  width: 38.2%;
  font-size: 3em;
}

.element-title {
  color: var(--rurikon);
}
