:root {
  --ro: rgb(12, 12, 12);
  --kachi: rgb(8, 25, 45);
  --kon: rgb(15, 37, 64);
  --rurikon: rgb(11, 52, 110);
  --rurikon-trans: rgba(11, 52, 110, 0.6);
  --ruri: rgb(0, 92, 175);
  --koke: rgb(131, 138, 45);
  --koke-trans: rgb(131, 138, 45, 0.6);
  --sohi: rgb(237, 120, 74);
  --sohi-trans: rgba(237, 120, 74, 0.6);
  --kurenai: rgb(203, 27, 69);
  --tohoh: rgb(255, 196, 8);
  --shironeri: rgba(252, 250, 242, 1);
  --shironeri-trans: rgba(252, 250, 242, 0.6);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--ro);
}

::-webkit-scrollbar-thumb {
  background: var(--shironeri);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tohoh);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: 0 0 10px rgb(255, 196, 8), 0 0 20px rgb(255, 204, 37),
    0 0 30px rgb(255, 211, 68), 0 0 40px rgb(255, 218, 96),
    0 0 50px rgb(255, 223, 116), 0 0 60px rgb(255, 227, 135),
    0 0 70px rgb(255, 230, 147);
}

::selection {
  background-color: var(--tohoh);
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: none;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

a {
  color: inherit;
}

a:hover {
  color: var(--tohoh);
}

a:active {
  text-shadow: 0 0 20px rgb(255, 223, 116), 0 0 24px rgb(255, 227, 135),
    0 0 28px rgb(255, 230, 147);
}

html {
  background-attachment: fixed;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 1.25rem;
  }
}

#cursor,
#cursor-outline {
  z-index: 99;
  pointer-events: none;
  position: absolute;
  background: var(--tohoh);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#cursor-outline {
  border: var(--tohoh) 2px solid;
  width: 30px;
  height: 30px;
  background: transparent;
}

#home {
  user-select: none;
  position: fixed;
  left: 5vw;
  top: 8vh;
  font-size: 2rem;
  font-weight: 600;
}

#menu {
  user-select: none;
  position: fixed;
  right: 4vw;
  top: 8vh;
  transform: translateX(-50%);
  font-size: 3rem;
  z-index: 2;
  font-weight: 500;
}

#menu-page {
  user-select: none;
  position: fixed;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 15vw;
  height: 100vh;
  white-space: nowrap;
  z-index: 1;
}

.category {
  margin: -2.5vh 2vw 5vh 2vw;
  width: 40%;
  max-height: 40%;
}

.entry-title {
  font-size: 5vw;
  font-weight: 500;
}

.entry {
  font-size: 1.5vw;
}

#back {
  user-select: none;
  position: fixed;
  left: 5vw;
  bottom: 8vh;
  transform: scale(-1);
  font-size: 2rem;
}

#next {
  user-select: none;
  position: fixed;
  right: 5vw;
  bottom: 8vh;
  font-size: 2rem;
}

.link {
  text-decoration: underline;
  font-style: italic;
}

.top {
  padding: 0 10vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  box-shadow: 0 0 8px rgb(255, 255, 255), 0 0 16px rgb(245, 245, 245),
    0 0 24px rgb(230, 230, 230), 0 0 32px rgb(216, 216, 216),
    0 0 40px rgb(204, 204, 204), 0 0 48px rgb(194, 194, 194),
    0 0 56px rgb(180, 180, 180);
}

.top-title {
  font-size: 5rem;
  font-weight: 500;
  padding: 5vh 0;
}

.top-introduction {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.top-information {
  background-color: var(--shironeri);
  border: 1.5rem solid var(--shironeri);
  position: absolute;
  bottom: 10vh;
}

#main {
  transition: 1s ease-in-out;
  padding: 0 8vw 10vh 8vw;
  font-weight: 400;
  word-spacing: 0.1rem;
}

.main-title {
  clear: both;
  text-align: center;
  position: relative;
  margin: 0 10vw;
  padding: 10vh 0 3vh 0;
  font-size: 3rem;
  font-weight: 500;
}

.main-information {
  max-width: 60%;
  margin: 2vh auto;
  background-color: var(--shironeri);
  border: 1rem solid var(--shironeri);
}

hr {
  width: 90%;
  margin: 0.5em 0 auto 0;
  background-color: var(--shironeri);
  border: 0.05em solid var(--shironeri);
}

.main-description {
  max-width: 61.8%;
  margin: 0 auto 0.5em auto;
}

.main-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.main-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-design-title {
  clear: both;
  float: left;
  width: 38.2%;
  font-size: 2rem;
}

.main-design-description {
  float: left;
  padding-top: 2rem;
  width: 61.8%;
}

.element-title {
  display: inline-block;
  background-color: var(--shironeri);
  margin: 0.25em 0;
  border: 0.25em solid var(--shironeri);
  font-weight: 500;
}

.element-image {
  margin: auto;
  margin-top: 0.25em;
  position: relative;
}

.element-image img {
  width: 100%;
  height: auto;
}

.element-image .img-top {
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.element-image:hover .img-top {
  opacity: 1;
}

.element-image-flex {
  display: flex;
  flex-wrap: wrap;
}

.element-image-flex img {
  margin: 0.25em 0.5em 0.25em 0;
  width: calc(49% - 0.25em);
  height: 100%;
  object-fit: contain;
}

.bold {
  font-weight: 600;
}

.photo {
  display: block;
  white-space: nowrap;
  height: 75vh;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 4vh 0;
}

.photo img {
  display: inline-block;
  margin-right: 5vw;
  height: 100%;
  object-fit: contain;
}
