:root {
  --ro: rgb(12, 12, 12);
  --kachi: rgb(8, 25, 45);
  --kon: rgb(15, 37, 64);
  --rurikon: rgb(11, 52, 110);
  --rurikon-trans: rgba(11, 52, 110, 0.6);
  --ruri: rgb(0, 92, 175);
  --kurenai: rgb(203, 27, 69);
  --kurenai-trans: rgba(203, 27, 69, 0.4);
  --sohi: rgb(237, 120, 74);
  --sohi-trans: rgba(237, 120, 74, 0.6);
  --tohoh: rgb(255, 196, 8);
  --shironeri: rgba(252, 250, 242, 1);
  --shironeri-trans: rgba(252, 250, 242, 0.4);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--ro);
}

::-webkit-scrollbar-thumb {
  background: var(--shironeri);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tohoh);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: 0 0 10px rgb(255, 196, 8), 0 0 20px rgb(255, 204, 37),
    0 0 30px rgb(255, 211, 68), 0 0 40px rgb(255, 218, 96),
    0 0 50px rgb(255, 223, 116), 0 0 60px rgb(255, 227, 135),
    0 0 70px rgb(255, 230, 147);
}

::selection {
  background-color: var(--tohoh);
}

* {
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: none;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

a {
  color: inherit;
}

a:hover {
  color: var(--tohoh);
}

a:active {
  text-shadow: 0 0 20px rgb(255, 223, 116), 0 0 24px rgb(255, 227, 135),
    0 0 28px rgb(255, 230, 147);
}

u {
  text-decoration: underline;
}

html {
  background-attachment: fixed;
  overflow-x: hidden;
}

#cursor,
#cursor-outline {
  z-index: 99;
  pointer-events: none;
  position: absolute;
  background: var(--tohoh);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#cursor-outline {
  border: var(--tohoh) 2px solid;
  width: 30px;
  height: 30px;
  background: transparent;
}

#home {
  user-select: none;
  position: fixed;
  left: 5vw;
  top: 8vh;
  transform: translateX(-50%);
  font-size: 2em;
  font-weight: 600;
}

#back {
  user-select: none;
  position: fixed;
  left: 5vw;
  bottom: 8vh;
  transform: translateX(-50%) scale(-1);
  font-size: 2em;
  font-weight: 600;
}

#next {
  user-select: none;
  position: fixed;
  right: 5vw;
  bottom: 8vh;
  transform: translateX(50%);
  font-size: 2em;
  font-weight: 600;
}

.important {
  text-decoration: underline;
  font-style: italic;
  font-weight: 600;
}

.element-image {
  margin: 2vh 0 0 0;
  width: 100%;
}

.element-image img {
  border: solid 2px var(--shironeri);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.element-image-flex {
  display: flex;
}

.element-image-flex img {
  border: solid 2px var(--shironeri);
  margin: 1vh 1vw 1vh 0;
  width: 49%;
  height: 100%;
  object-fit: contain;
}
