:root {
    --kon: rgb(15, 37, 64);
    --ruri: rgb(0, 92, 175);
    --kurenai: rgb(203, 27, 69);
    --sohi: rgb(237, 120, 74);
    --fade: all 0.75s ease-in-out;
    --OSRegular: "Open Sans Regular";
    --OSSemiBold: "Open Sans Semibold";
    --AHeavy: "Avenir LT Std Heavy";
    --SHSRegular: "Source Hans Sans Regular";
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "Avenir LT Std Heavy";
    src: url('/fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
    font-family: "Source Hans Sans Regular";
    src: url('/fonts/SourceHanSansCN-Regular.otf');
}

* {
    box-sizing: border-box;
}

*::selection {
    background: var(--sohi);
    color: white;
}

ul {
    list-style: none;
}