@import "./general.css";

html {
    overflow: hidden;
    min-width: 60%;
    min-height: 100%;
    font-family: var(--OSSemiBold);
    color: var(--kon);
    overflow: auto;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#side {
    z-index: 3;
    position: fixed;
    border: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: var(--kon);
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#side-selector {
    z-index: -1;
    position: absolute;
    background: var(--kurenai);
    width: 100%;
    height: -1px;
    left: 0;
    top: -40px;
    transition: var(--fade);
}

#side-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
    height: calc(100%);
    background: var(--kurenai);
}

#side-title {
    text-align: right;
    font: 200% var(--AHeavy);
    margin: 20px 20px 0 0;
}

.side-nav {
    text-align: right;
    font: 150% var(--AHeavy);
    margin: 20px 0 0 0;
    width: 100%;
}

.side-nav-list {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 0;
}

#home {
    z-index: 100;
    color: white;
    position: fixed;
    text-align: center;
    width: 20%;
    bottom: 0;
    padding: 3px;
    font: 175% var(--AHeavy);
    transition: var(--fade);
}

#home:hover {
    background: var(--kurenai);
    color: white;
}

#main {
    float: right;
    height: auto;
    width: unset;
    box-sizing: border-box;
    padding: 80px 120px 120px 120px;
    z-index: 0;
    vertical-align: top;
}

#main-nav-title {
    font-family: "Avenir LT Std Heavy";
    font-size: 175%;
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-button {
    display: inline-block;
    width: auto;
    padding: 3px;
    border: 2px solid var(--kon);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

.main-button:hover {
    background: var(--kon);
}

#footer-nav {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: unset;
    min-height: 40px;
    background: var(--kon);
    bottom: 0%;
    right: 0%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer-nav-box {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.footer-nav-box:hover>ul {
    visibility: visible;
    opacity: 1;
}

.footer-nav-box ul {
    visibility: hidden;
    opacity: 0;
    transition: var(--fade);
    position: absolute;
    width: 100%;
    bottom: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

.footer-nav-box ul li {
    display: block;
    padding: 8px;
    transition: var(--fade);
}

.footer-nav-title {
    font-family: "Avenir LT Std Heavy";
    font-size: 125%;
    color: white;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
}

.footer-nav-content {
    background: white;
}

.footer-nav-content:hover {
    color: white;
    background: var(--kon);
}