@import "/css/general2.0.css";
html {
  overflow: hidden;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  margin: 0;
  transition: 1s ease-in-out;
}

#main {
  text-rendering: optimizeLegibility;
  transition: 1s ease-in-out;
  padding: 0 10vw;
  background: var(--ro);
  color: var(--shironeri);
}

.section {
  white-space: nowrap;
  position: relative;
  padding-top: 4vh;
  height: 100vh;
  box-sizing: border-box;
  fill: transparent;
  user-select: none;
  background-image: url();
}

.introduction-title {
  white-space: normal;
  padding-top: 6vh;
  font-weight: 400;
  font-size: 6vmin;
  color: var(--shironeri-trans);
}

.introduction-title-text:hover {
  color: var(--tohoh);
}

.introduction-title-entry {
  display: inline;
  font-weight: 600;
  color: var(--shironeri);
}

.introduction-title-entry:nth-of-type(1) a:hover {
  color: var(--tohoh);
}

.introduction-title-entry:nth-of-type(2) a:hover {
  color: var(--ruri);
}

.introduction-title-entry:nth-of-type(3) a:hover {
  color: var(--sohi);
}

.introduction-title-entry:nth-of-type(4) a:hover {
  color: var(--kurenai);
}

.introduction-title-contact {
  display: inline;
  font-weight: 600;
  color: var(--shironeri);
}

.introduction-title-contact:hover {
  color: var(--tohoh);
}

.section-title {
  font-weight: 600;
  font-size: 12vmin;
  font-variant: small-caps;
  color: var(--shironeri);
}

.section:nth-child(5) {
  color: var(--ro);
}

.section:nth-child(5) .section-title {
  color: var(--ro);
}

.section:nth-child(5) .top {
  color: var(--ro);
}

.section:nth-child(5) .top:hover {
  color: var(--tohoh);
}

.scroll {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  color: var(--shironeri-trans);
}

.section-entry {
  display: inline-block;
  vertical-align: top;
  margin: 1vh 2vw 1vh 0;
  font-size: 3.5vw;
  height: 65vh;
  line-height: 6.5vh;
  border: solid 2px var(--shironeri-trans);
  white-space: normal;
  background-clip: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.section-entry div {
  transition: 0.5s ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
}

.section-entry div a {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
}

.section-entry:hover div a {
  opacity: 1;
}

#games .section-entry {
  width: 18vw;
}

#games .section-entry:hover div {
  background-color: var(--rurikon-trans);
}

#analysis .section-entry {
  width: 18vw;
}

#analysis .section-entry:hover div {
  background-color: var(--sohi-trans);
}

#gallery .section-entry {
  width: 25vw;
}

#gallery .section-entry:hover div {
  background-color: var(--kurenai-trans);
}

#essay .section-entry {
  border: none;
  width: 40vw;
}

.essay-entry {
  vertical-align: top;
  margin: 1vh 0;
  font-size: 5vmin;
  line-height: 5vmin;
}

.top {
  position: absolute;
  transform: rotateZ(-90deg);
  left: -0.5vw;
  bottom: 5vh;
  font-size: 2em;
}

.top:hover {
  color: var(--tohoh);
}
