@import "./general.css";

html {
    width: 100%;
    overflow: hidden;
    min-width: 60%;
    min-height: 100%;
    font-family: var(--OSSemiBold);
    background: var(--shironeri);
    color: var(--kon);
    overflow: auto;
}

body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


#home:hover {
    background: var(--kurenai);
    color: var(--shironeri);
}

#main {
    text-align: center;
    float: right;
    height: auto;
    width: unset;
    box-sizing: border-box;
    z-index: 0;
    vertical-align: top;
}

#main-nav-title {
    font: 175% var(--AHeavy);
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-nav-text {
    margin: 0 0 20px 0;
}

.main-text-en {
    text-align: left;
}

.main-text-cn {
    text-align: left;
}

.main-button {
    display: inline-block;
    width: auto;
    padding: 3px;
    border: 2px solid var(--kon);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

.main-button:hover {
    background: var(--kon);
}

.main-content-title {
    font: 175% var(--AHeavy);
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content-description {
    font: 100% var(--OSSemiBold);
    text-align: left;
}

.main-video {
    width: 80%;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-waterfall {
    width: 100%;
    column-gap: 0;
    column-count: 2;
}

.main-waterfall-content {
    width: 100%;
    padding: 20px;
    break-inside: avoid;
    position: relative;
}

.main-waterfall-content img {
    width: 100%;
    display: block;
}

.main-image {
    width: 80%;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-link {
    line-height: 0.4;
    border: 3px solid var(--sohi);
    margin: 5px 0;
    color: var(--sohi);
    transition: var(--fade);
}

.main-link:hover {
    background: var(--sohi);
    color: var(--shironeri);
}

.main-image img {
    width: 100%;
}

.main-button {
    display: inline-block;
    width: auto;
    padding: 3px;
    border: 2px solid var(--kon);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: var(--fade);
}

.main-button:hover {
    background: var(--kon);
}